.o-movements-chart {
  display: block;
  width: 100%;
  box-sizing: border-box;

  ibid-empty-state {
    max-height: 200px;
  }

  &--full-bleed-mobile {
    @media (max-width: 1023px) {
      width: calc(100vw - 12px);
      margin-left: calc(50% - 50vw + 6px);
      margin-right: calc(50% - 50vw + 6px);
      padding: 0;
    }
  }
}
